name: 'Build and Test Eclipse Installation Manager'

on:
  workflow_dispatch:
  push:
    branches:
     - 'feature/*'
     - 'bugfix/*'
  pull_request:
    branches:
     - 'main'

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v2
       with:
        fetch-depth: 1
     - 
      name: Build application, run tests and create coverage reports
      id: script
      run: |
        /bin/bash ${GITHUB_WORKSPACE}/buildAndTest.sh